<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <title>
    Kalawati Enterprises BETA Categories Page
  </title>

  <link rel="stylesheet" type="text/css" href="/css/styles.css" />
  <link rel="stylesheet" type="text/css" href="/css/categories.css" />
</head>

<% const card = (data) => { %>
  <div class="wide-card">
    <div class="title-container">
      <span class="wide-card-title">
        <%= data.Parent.Name %><%= data.Parent.Name.endsWith("s") ? "" : "s" %>
      </span>
      <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ">Browse</a>
    </div>
  </div>
<% } %>

<body>
  <!-- navbar -->
  <%- include("../partials/navbar", {activePage: "products"}); %>
  <!-- category switcher -->
  <%- include("../partials/switcher", {activeCategory: "category"}); %>

  <!-- container for the product cards -->
  <div class="wide-cards-container">
    <!-- Render the product cards -->
    <% if (categories.length === 0) { %>
      <%- include("../partials/errors/EmptyResponse") %>
    <% } else { %>
      <%= categories.forEach(i => card(i)); %>
    <% } %>
  </div>

  <%- include("../partials/footer", {activePage: "products"}); %>
</body>
</html>
