<!--
  Kalawati Enterprises Website: The Official Website For Kalawati Enterprises
  Copyright (C) 2022  Vidhu Kant Sharma <vidhukant@protonmail.ch>

  This program is free software: you can redistribute it and/or modify
  it under the terms of the GNU General Public License as published by
  the Free Software Foundation, either version 3 of the License, or
  (at your option) any later version.

  This program is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  GNU General Public License for more details.

  You should have received a copy of the GNU General Public License
  along with this program.  If not, see <https://www.gnu.org/licenses/>.
-->

<div class="info-box-container">
  <div class="brand-info-box info-box">
    <div class="back-button">
      <a href="<%= prevPage %>">X</a>
    </div>

    <h1 class="brand-title"><%= brandDetails.Name %></h1>

    <div class="info-box-panes-container">
      <div class="info-box-pane">
        <img class="logo" src="<%= brandDetails.LogoURL %>" alt="<%= brandDetails.DisplayName %> Logo"/>
        <!-- prints all the categories associated with the brand. Comma seperated. -->
        <span class="brand-categories">
          <em>Categories: </em><% brandCategories.forEach((i, j, k) => { %>
            <a href="/products/brands/<%= brandDetails.BrandId %>?categories=<%= i.CategoryId %>">
              <%= `${i.CategoryName}${j === (k.length - 1) ? "" : ","}` %>
            </a>
          <% }) %>
        </span>
      </div>

      <div class="info-box-pane">
        <a href="/products/brands/<%= brandDetails.BrandId %>">Browse Products By <%= brandDetails.DisplayName %></a>
        <a href="">Download Catalogues</a>
        <a href="<%= brandDetails.Website %>">Visit Official <%= brandDetails.DisplayName %> Website</a>
      </div>
    </div>


    <!--
    <h1 align="center">You are looking at the info page for Brand #<%= brandId %></h1>
    <h1 align="center">And the close button will take you to <%= prevPage %></h1>
    -->
  </div>
</div>
