<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <title>
    Kalawati Enterprises BETA Products Page
  </title>

  <link rel="stylesheet" type="text/css" href="/css/styles.css" />
  <link rel="stylesheet" type="text/css" href="/css/products.css" />
</head>

<!-- product card to be used to display the products -->
<% const card = (data) => { %>
  <div class="card">
    <div class="card-title"><%= data.Name %></div>
    <div class="card-subtitle"><%= `${data.Brand} ${data.Categories.split(",")[0]}` %></div>
    <div class="card-description"><%= data.Description %></div>
    <div class="card-images-container">
      <img src="/photos/products/<%= data.ID %>/0" alt="<%= data.Name %> Front Image"/>
      <img src="/photos/products/<%= data.ID %>/1" alt="<%= data.Name %> Side Image"/>
    </div>
  </div>
<% } %>

<body>
  <!-- navbar -->
  <%- include("../partials/navbar", { activePage: "products" }); %>
  <!-- category switcher -->
  <%- include("../partials/switcher", { activeCategory: switcherOption }); %>

  <!-- container for the product cards -->
  <div class="cards-container">
    <!-- Render the product cards -->
    <% if (products.length === 0) { %>
      <%- include("../partials/errors/EmptyResponse") %>
    <% } else { %>
      <%= products.forEach(i => card(i)); %>
    <% } %>
  </div>
  <%- include("../partials/footer", {activePage: "products"}); %>
</body>
</html>
