<!--
  Kalawati Enterprises Website: The Official Website For Kalawati Enterprises
  Copyright (C) 2022  Vidhu Kant Sharma <vidhukant@protonmail.ch>
  
  This program is free software: you can redistribute it and/or modify
  it under the terms of the GNU General Public License as published by
  the Free Software Foundation, either version 3 of the License, or
  (at your option) any later version.
  
  This program is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  GNU General Public License for more details.
  
  You should have received a copy of the GNU General Public License
  along with this program.  If not, see <https://www.gnu.org/licenses/>.
-->

<% const links = [
  {Name: "Home", Anchor: "/home", Id: "home"},
  {Name: "Products", Anchor: "/products/all", Id: "products"}, 
  {Name: "Contact Us", Anchor: "/contact", Id: "contact"}, 
  {Name: "Updates", Anchor: "/updates", Id: "updates"}, 
  {Name: "Offers", Anchor: "/offers", Id: "offers"}, 
  {Name: "Locate Us", Anchor: "/locate", Id: "locate"}, 
  {Name: "Social", Anchor: "/social", Id: "social"} 
] %>

<div class="navbar">
  <a class="logo-anchor" href="/">
    <span class="text-logo">
      Kalawati Enterprises
    </span>
    <img src="/logo.png" class="img-logo"/>
  </a>

  <div class="links">
    <% links.forEach(link => { %>
      <a href="<%= link.Anchor %>" class="<%= activePage === link.Id ? 'active' : '' %>" id="navbar-<%= link.Id %>-button">
        <%= link.Name %>
      </a>
    <% }) %>
  </div>
</div>

<%- include("bottom_navbar", {activePage: "home"}); %>
