<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Kalawati Enterprises | <%= data.DisplayName %> is one of the many brands we have partenered with." />

  <title>
    <%= data.DisplayName %> | Kalawati Enterprises
  </title>

  <link rel="stylesheet" type="text/css" href="/css/styles.css" />
  <link rel="stylesheet" type="text/css" href="/css/brands.css" />
</head>

<body>
  <!-- navbar -->
  <%- include("../partials/navbar", {activePage: "products"}); %>

  <h1><%= data.Name %></h1>

  <%- include("../partials/footer", {activePage: "products"}); %>
</body>
</html>
