<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <title>
    Kalawati Enterprises BETA Brands Page
  </title>

  <link rel="stylesheet" type="text/css" href="/css/styles.css" />
  <link rel="stylesheet" type="text/css" href="/css/brands.css" />
</head>

<!-- product card to be used to display the products -->
<% const card = (data) => { %>
  <div class="wide-card" id="<%= data.BrandId %>">
    <span class="wide-card-title"><%= data.DisplayName %></span>
    <span class="wide-card-links-container">
      <a href="/brands/<%= data.ID %>">Info</a>
      <a href="https://vidhukant.xyz">Download Catalogues</a>
      <a href="/brands/<%= data.ID %>/products">Browse Products</a>
    </span>
    <span class="wide-card-logo-container">
      <img class="wide-card-logo" src="<%= data.LogoURL %>" alt="Failed to load <%= data.DisplayName %> logo."/>
    </span>
  </div>
<% } %>

<body>
  <!-- navbar -->
  <%- include("../partials/navbar", {activePage: "products"}); %>
  <!-- category switcher -->
  <%- include("../partials/switcher", {activeCategory: "brand"}); %>

  <!-- container for the product cards -->
  <div class="wide-cards-container">
    <!-- Render the product cards -->
    <% if (brands.length === 0) { %>
      <%- include("../partials/errors/EmptyResponse") %>
    <% } else { %>
      <%= brands.forEach(i => card(i)); %>
    <% } %>
  </div>

  <%- include("../partials/footer", {activePage: "products"}); %>
</body>
</html>
